.heading{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron{
  padding: 3rem;
  background-color: rgb(139,208,254);
  border-radius: .3rem;
}
